body,
ul {
    margin: 0px;
}

.container {
    width: auto;
}

.header-container {
    background: url(images/Livello-1.png);
    height: 745px;
    background-size: cover;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.header li {
    padding: 10px 33px;
}

.header .icon-container {
    padding-top: 0px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.header {
    text-align: center;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
}

.header .sm-text {
    text-transform: lowercase;
    font-size: 36px;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

.header span {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    padding-top: 227px;
    padding-bottom: 25px;
}

.btn {
    display: block;
    background-color: #16a085;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 18px 42px;
    margin: 0 auto;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-photo {
    background: url(images/icon-photo.png);
    height: 55px;
    width: 53px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.header ul {
    padding-top: 40px;
}

.header .icon-tw {
    background: url(images/icon-twitter.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 23px;
}

.header .icon-flicker {
    background: url(images/icon-flicker.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 23px;
}

.header .icon-web {
    background: url(images/icon-web.png);
    background-repeat: no-repeat;
    height: 21px;
    width: 20px;
}

.header .social-button>li {
    padding: 0px 8px;
}

.header .social-button {
    padding-left: 0px;
    padding-top: 222px;
}

.second-container {
    height: 494px;
    background: url(images/second-hand.png) 65% 59px;
    background-color: #f5f6f7;
    background-repeat: no-repeat;
}

.heading {
    font-size: 18px;
    color: #16a085;
    width: 376px;
    margin: 0px;
    padding-left: 129px;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    padding-top: 103px;
    letter-spacing: 3px;
    padding-bottom: 49px;
}

.description {
    display: inline-block;
    font-size: 12px;
    color: #373737;
    font-family: 'Varela Round', sans-serif;
    width: 428px;
    white-space: pre;
}

.second-description {
    padding-left: 128px;
    display: inline-block;
}

.second-container .btn-left {
    margin-left: 129px;
    margin-top: 47px;
}

.third-container {
    background-color: #ffffff;
    height: 558px;
}

.slider-container {
    background: url(images/Shape.png);
    background-repeat: no-repeat;
    height: 614px;
    width: 50%;
    float: left;
}

.description-container {
    float: left;
    width: 50%;
}

.btn-right {
    margin-left: 0px;
    margin-top: 42px;
}

.heading-right {
    padding-left: 0px;
}

.btn-prev {
    background: url(images/btn-prev.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 11px;
    border: none;
}

.btn-next {
    background: url(images/btn-next.png);
    background-repeat: no-repeat;
    width: 11px;
    height: 16px;
    border: none;
    margin-left: 21px;
}

.page-number {
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 3px;
}

.slider-page {
    padding-top: 45px;
}

.slider-container {
    background: url(images/Flat-iPhone-5C-Mock-Up.png);
    background-repeat: no-repeat;
    background-position: 81px 103px;
    overflow: hidden;
    height: 558px;
}

.slider-container>img {
    padding-top: 190px;
    margin-left: 100px;
    margin-bottom: -69px;
}

.fourth-container {
    background-color: #f5f6f7;
    height: 483px;
}

.slider-information {
    width: 33%;
    text-align: center;
    padding-top: 165px;
    float: left;
}

.heading-black {
    font-size: 16px;
    color: #373737;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.slider-information span {
    text-align: center;
}

.slider-information p {
    margin: 0px;
    color: #373737;
    font-family: 'Varela Round', sans-serif;
    font-size: 10px;
}

.icon-photo-green {
    background: url(images/photo-green.png);
    height: 55px;
    width: 59px;
}

.img-slider {
    float: left;
    padding-top: 95px;
}

.img-slider-btn {
    padding-left: 738px;
    margin-bottom: 5px;
}

.img-slider .btn-next {
    margin-left: 8px;
}

.galery>img:last-child {
    padding-left: 27px;
}

.fifth-container {
    background: url(images/galery3.png);
    height: 790px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.heading-white {
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    margin: 0px;
    text-align: center;
    letter-spacing: 3px;
}

.subscribe-container {
    padding-top: 352px;
}

.email {
    background-color: #ffffff;
    border-bottom-left-radius: 3px;
    height: 60px;
    width: 280px;
    border-top-left-radius: 3px;
    font-size: 16px;
    color: #373737;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 0px;
    padding-left: 22px;
    display: inline-block;
}

.btn-green {
    background: url(images/btn-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #16a085;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: none;
    height: 60px;
    width: 63px;
    float: right;
    padding: 0px;
}

.horizontal-input {
    display: inline-block;
    margin-top: 34px;

    }
