body,ul {
    margin: 0px;
}
.container {
    width:auto;
}
.header-container{
    background: url(images/Livello-1.png);
    height: 745px;
    background-size:cover;
}

li{
    display: inline-block;
    list-style:none;
    margin: 0;
} 
.header li{
 padding:10px 33px;
    
  }
.header .icon-container{
padding-top:0px;
    
}
.header a {
    text-decoration: none;
    color:#ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform:uppercase;
  

}
.header {
    text-align: center;
    color:#ffffff;
    font-family: 'Varela Round', sans-serif;
    text-transform:uppercase;
}
.header .sm-text{
    text-transform: lowercase;font-size: 36px;
    font-size: 16px;
    font-weight: 500;
}
.header span{
    font-size: 36px;
    font-weight: 700;
}
.btn {
    background-color: #16a085;
    border-radius: 3px;
    border:none;
    color:#ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    text-transform:uppercase;
    padding:18px 42px;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
.icon-photo{
    background: url(images/icon-photo.png);
    height: 55px;
    width: 53px;
    }

.header ul{
 padding-top: 40px;
}

